{{!--

If the user is NOT logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}

<main>
    <h2>Error</h2>
    
    <p> User is not Logged in. </p>

    <a id="login" href="/">Login</a>
</main>